/* GLOBAL */
body {
    margin: 0;
    background-color: #0b0f14;
    color: #00ff9c;
    font-family: "Courier New", monospace;
}

/* CONTAINER */
.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00ff9c33;
    padding-bottom: 10px;
}

header h1 {
    font-size: 24px;
    text-shadow: 0 0 8px #00ff9c;
}

.status {
    color: #0f0;
    font-size: 14px;
}

/* CHALLENGE */
.challenge {
    margin-top: 40px;
}

.question {
    font-size: 18px;
    margin-bottom: 20px;
    white-space: pre-wrap;
    
}

/* FORM */
input[type="text"] {
    width: 60%;
    padding: 10px;
    background: #000;
    border: 1px solid #00ff9c;
    color: #00ff9c;
    outline: none;
}

input[type="password"] {
    width: 60%;
    padding: 10px;
    background: #000;
    border: 1px solid #00ff9c;
    color: #00ff9c;
    outline: none;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background: transparent;
    color: #00ff9c;
    border: 1px solid #00ff9c;
    cursor: pointer;
}

button:hover {
    background: #00ff9c;
    color: #000;
}

/* HINT */
.hint-box {
    margin-top: 20px;
}

.hint-btn {
    background: none;
    border: none;
    color: #00ffaa;
    cursor: pointer;
    font-size: 14px;
}

.hint-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border-left: 2px solid #00ff9c;
    color: #9effd1;
    background: #08120d;
    white-space: pre-wrap;
}

/* LOG CONSOLE */
.log-console {
    margin-top: 50px;
    border: 1px solid #00ff9c33;
    background: #050709;
}

.log-title {
    padding: 8px;
    background: #020403;
    border-bottom: 1px solid #00ff9c33;
    font-size: 14px;
}

.log-content {
    max-height: 120px;
    overflow-y: auto;
    padding: 10px;
    font-size: 13px;
}

.log-content p {
    margin: 4px 0;
}

/* SCOREBOARD CONSOLE */
.scoreboard-console {
    margin-top: 50px;
    border: 1px solid #00ff9c33;
    background: #050709;
}

.scoreboard-title {
    padding: 8px;
    background: #020403;
    border-bottom: 1px solid #00ff9c33;
    font-size: 18px;
}

.scoreboard-content {
    max-height: 120px;
    overflow-y: auto;
    padding: 10px;
    font-size: 16px;
}

.scoreboard-content p {
    margin: 4px 0;
}

/* FOOTER */
footer {
    margin-top: 30px;
    text-align: right;
}

footer a {
    color: #ff5555;
    text-decoration: none;
}

footer a:hover {
    text-shadow: 0 0 5px red;
}
