<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CTF Completed, you are now root on the system</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <header>
        <h1>MISSION STATUS</h1>
        <span class="status">COMPLETE</span>
    </header>

    <section class="challenge">
        <p class="question">
            🎉 WELL DONE Spillet er gennemført🎉<br><br>

            <strong>SES</strong><br><br>
        </p>
        
        <form action="/logout">
            <button type="submit">RESTART SIMULATION</button>
        </form>
    </section>

    <!-- SCOREBOARD½ -->
    <section class="scoreboard-console">
        <div class="scoreboard-title">SCOREBOARD</div>
        <div class="scoreboard-content">
            {{ scoreboard|safe }}
        </div>
    </section>

    <section class="log-console">
        <div class="log-title">FINAL LOG</div>
        <div class="log-content">
            {{ logs|safe }}
        </div>
    </section>

</div>

</body>
</html>
